*{
    padding:0;
    margin:0;
    box-sizing: border-box; /*nao ultrapassar tamanho do elemento pai*/
    font-family:"Open Sans",sans-serif ; /*procurar no google fonts e copiar e colar html no index.html*/
    border: dashed 1px red;
}

html,body,#root
{
    background-color:#efefef;
    height:100%; /*Ficar colado no bottom*/
}