.Container
{
    border:solid 1px #000;
    max-width:1200px; 
    display:flex;
    justify-content:space-between; /*Os elementos filhos ocuparão todos os 1200px ficando igualmente separados por espaço entre eles*/
    margin: 0 auto; /*  0 : margin superior e inferior serão 0, auto: margin esquerda e direita serão iguais(obj fica centralizado na
                    horizontal   */
    flex-wrap:wrap;/* quando os elementos filhos ultrapassarem 1200px vão pra baixo em uma nova linha;*/
    flex-direction:column;
}


.min_height{
    min-height:75%;
    color:green;
}
.start {
    justify-content:flex-start ;
}
.columm {
    flex-direction: column;
    justify-content: flex-start;
}