.pagination_container{
    width: 100%;
    list-style: none;
    display:flex;
}
.pagination_container  li {
    text-align:center;
    color:red;
}

    .pagination_container li +  li { /* a regra será aplicada a partir do segundo li ( se fosse li+li+li seria a partir do terceito*/
        margin-left:1rem;
    }
    .pagination_container  li button{
        padding: .5em .5em;
        cursor:pointer;
    }

.pagination_container__item__active{
    background:none;
    font-weight:bold;
    border:none;
}